
{% block body %}

		<h1 class="entry-title"></h1>{#{{entity.nombre}}#}</header>
    <!-- .entry-header -->
           
<!--Contenedor-->
 <div id="cont">
  
  <!--Pesta単a 3 inactiva por defecto-->

  <div id="conte">
   <!--Contenido de la Pesta単a 1-->
   <div id="conte-1" >
    <label for="tab-1">Descripcion</label>
    <p class="left">{{entity.caracteristicas}}</p>
   </div>
   <!--Contenido de la Pesta単a 2-->
   <div id="conte-2">
    <label for="tab-2">Precio Unitario</label>
    <p class="column-left">{{entity.precioU}}</p>
   </div>
   <!--Contenido de la Pesta単a 3-->
 </div>
  <form class="form-inline" action="{{ path('itemcart_create') }}" method="POST">               
                   <button class="btn btn-add-cart" type="submit">Comprar</button>
                           
                </form>
  
 

    </div>
  </article>			
{% endblock %}